<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    title Попап | Leroy Merlin
    link(rel="stylesheet", href="css/styles.css")
  body
    block content

    script(src="js/modernizr/modernizr.js")
    script(src="js/jquery/dist/jquery.min.js")
    script(src="js/velocity/velocity.min.js")
    script(src="js/scripts.js", async, defer)
