$white = #fff
$dark-white = #f2f2f2
$black = #000
$red = #f00
$green = #51b848
$dark-green = #30732a
$grey = #e5e5e5
$mid-grey = #cecece
$yellow = #ffd400
$yellow-light = #ffde00
$yellow-lighter = #fffe00
$yellow-dark = #d6933d
