@font-face {
    font-family: 'PF Din Bold';
    src: url('../fonts/pfdindisplaypro-bold-webfont.eot');
    src: url('../fonts/pfdindisplaypro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfdindisplaypro-bold-webfont.woff2') format('woff2'),
         url('../fonts/pfdindisplaypro-bold-webfont.woff') format('woff'),
         url('../fonts/pfdindisplaypro-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Din Condensed';
    src: url('../fonts/pt_din_condensed_cyrillic-webfont.eot');
    src: url('../fonts/pt_din_condensed_cyrillic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pt_din_condensed_cyrillic-webfont.woff2') format('woff2'),
         url('../fonts/pt_din_condensed_cyrillic-webfont.woff') format('woff'),
         url('../fonts/pt_din_condensed_cyrillic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
