@font-face {
    font-family: 'PF Din Bold';
    src: url('../fonts/pfdindisplaypro-bold-webfont.eot');
    src: url('../fonts/pfdindisplaypro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfdindisplaypro-bold-webfont.woff2') format('woff2'),
         url('../fonts/pfdindisplaypro-bold-webfont.woff') format('woff'),
         url('../fonts/pfdindisplaypro-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: 'Din Condensed C';
    src: url('../fonts/dincondensedc-webfont.eot');
    src: url('../fonts/dincondensedc-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/dincondensedc-webfont.woff2') format('woff2'),
         url('../fonts/dincondensedc-webfont.woff') format('woff'),
         url('../fonts/dincondensedc-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
