.popup
  button.popup__close(type="button")
  header.popup__header
    h2.popup__title Уникальные возможности для экономии и супер советы в вашем почтовом ящике
    p.popup__disclaimer 
      a(href="#") Соглашаясь на подписку, я даю согласие на обработку персональных данных
  
  form.popup__subscribe(action="/subscribe/", method="post")
    
    label.popup__field
      input.popup__input(type="email", name="email", value="", required="required")
      span.popup__label Ваш email
        
    label.popup__field
      input.popup__input(type="text", name="name", value="", required="required")
      span.popup__label Как к вам обращаться?
        
    .popup__field
      button.popup__submit(type="submit") Подписаться!
  
  ul.popup__features
    li.popup__feature.popup__feature_icon_eco Разумная экономия
    li.popup__feature.popup__feature_icon_video Видеосоветы
    li.popup__feature.popup__feature_icon_article Полезные статьи
    li.popup__feature.popup__feature_icon_news Новинки асортимента
    
.popup__lightbox
